<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div>
      <p>Use the form below to change your password.
        Your password cannot be the same as your username.</p>
      <input type="text" placeholder="password" v-model="password">
      <button @click.prevent="submit">submit</button>
    </div>
    <a href="/">home</a>
  </div>
</body>
<script>
  var app1 = new Vue({
    el: "#app",
    delimiters: ['[[', ']]'],
    data: {
      password: '',
    },
    methods: {
      submit() {
        axios.post('http://127.0.0.1:8000/auth/users/reset_password_confirm/', {
          uid: '{{data.uid}}',
          token: '{{data.token}}',
          new_password: this.password
        }).then(data => {
          console.log(data)
        })
          .catch(err => {
            console.log(err.response)
          })
      },
    },


  })
</script>

</html>